node-red/flows.json
[{"id":"234b5a67.510c36","type":"tab","label":"music management","disabled":false,"info":""},{"id":"52c7988c.f1e648","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a0e7c24a.61dc6","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"4c969172.2e5fb","type":"server-state-changed","z":"234b5a67.510c36","name":"Wecker On ","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wecker_aktiv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":60,"wires":[["6d12f89a.b8f2e8"],[]]},{"id":"85d7e7bc.12fe48","type":"comment","z":"234b5a67.510c36","name":"Wecker ","info":"","x":90,"y":20,"wires":[]},{"id":"6d12f89a.b8f2e8","type":"api-current-state","z":"234b5a67.510c36","name":"get light","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedroom_lights","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"payload","override_data":"msg","blockInputOverrides":false,"x":580,"y":60,"wires":[["289d02b.a1541fe"]]},{"id":"22439fca.156c1","type":"trigger-state","z":"52c7988c.f1e648","name":"Left Home","server":"351c96ee.9dc3aa","entityid":"device_tracker.jason","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9i2c9sz7d3e","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"3h3lghs8xsm","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":140,"wires":[["24ecbd00.7147a4"],[]]},{"id":"24ecbd00.7147a4","type":"ha-get-entities","z":"52c7988c.f1e648","server":"a0e7c24a.61dc6","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.front_door,binary_sensor.back_door,binary_sensor.front_window,binary_sensor.back_window","valueType":"str"},{"property":"state","logic":"is","value":"open","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":356,"y":140,"wires":[["2fe88645.50ce3a"]]},{"id":"2fe88645.50ce3a","type":"template","z":"52c7988c.f1e648","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":560,"y":140,"wires":[["792cffb3.55b65"]]},{"id":"792cffb3.55b65","type":"join","z":"52c7988c.f1e648","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":140,"wires":[["c829053e.128658"]]},{"id":"c829053e.128658","type":"api-call-service","z":"52c7988c.f1e648","name":"Notify","server":"351c96ee.9dc3aa","service_domain":"notify","service":"push_jason","data":"{\"message\": \"The {{payload}} are open.\",\"title\": \"Left Open\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":858,"y":140,"wires":[[]]},{"id":"531d586f.103188","type":"server-state-changed","z":"52c7988c.f1e648","name":"","server":"351c96ee.9dc3aa","entityidfilter":"binary_sensor.button_bedroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":300,"y":360,"wires":[["27db4cc4.71e694"]]},{"id":"27db4cc4.71e694","type":"ha-get-entities","z":"52c7988c.f1e648","server":"a0e7c24a.61dc6","name":"","rules":[{"property":"entity_id","logic":"includes","value":"sensor.phon_charging,sensor.watch_charging,sensor.kaylas_phone_charging,lock.lock","valueType":"str"},{"property":"state","logic":"includes","value":"no,unlocked","valueType":"str"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":574,"y":360,"wires":[["f3fe6e2f.35266"]]},{"id":"f3fe6e2f.35266","type":"function","z":"52c7988c.f1e648","name":"","func":"let lockFD = null;\nlet PC = false;\nlet WC = false;\nlet KP = false;\nlet FD = false;\n\nmsg.payload.forEach(entity => {\n    switch(entity.entity_id) {\n        case \"sensor.phone_charging\":\n            PC = true;\n            break;\n        case \"sensor.watch_charging\":\n            WC = true;\n            break;\n        case \"sensor.kaylas_phone_charging\":\n            KP = true;\n            break;\n        case \"lock.lock\":\n            FD = true;\n            lockFD = { payload: true };\n            break;\n    }\n    \n});\n\nlet message = \"Goodnight.\";\nif(PC && WC) {\n    message = `${message} Don’t forget to charge your phone and watch.`;\n} else {\n    message = `${message} Don’t forget to charge your ${PC ? 'phone' : 'watch'}.`\n}\nif(KP) {\n    message = `${message} Remind Kayla to charge her phone${PC ? ' too':''}.`;\n}\nif(FD) {\n    message = `${message} The door is now locked.`\n}\nmsg.payload = message;\nreturn [msg, lockFD];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":714,"y":360,"wires":[["d0e80507.2ac3c8"],["52de5e56.e74c6"]]},{"id":"d0e80507.2ac3c8","type":"cast-to-client","z":"52c7988c.f1e648","name":"","url":"","contentType":"","message":"","language":"en","ip":"192.168.1.29","port":"","volume":"40","x":874,"y":360,"wires":[[]]},{"id":"52de5e56.e74c6","type":"api-call-service","z":"52c7988c.f1e648","name":"lock door","server":"351c96ee.9dc3aa","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.lock_door\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":884,"y":408,"wires":[[]]},{"id":"289d02b.a1541fe","type":"function","z":"234b5a67.510c36","name":"convert brightness to volume","func":"newmsg = Object();\nfloat = Math.round(msg.payload.attributes.brightness / 255 * 100 /2);\nfloat = float / 100;\nnewmsg.payload = float;\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":60,"wires":[["475c37e2.b52ac8"]]},{"id":"719a22bd.bc58ec","type":"server-state-changed","z":"52c7988c.f1e648","name":"","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"window","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":580,"wires":[["3ea8285a.908a78"]]},{"id":"3ea8285a.908a78","type":"ha-get-entities","z":"52c7988c.f1e648","server":"","name":"","rules":[{"property":"entity_id","logic":"includes","value":"window","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"count","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":490,"y":580,"wires":[["7f55f6bf.336b58","134b752c.4f6e9b"]]},{"id":"7f55f6bf.336b58","type":"function","z":"52c7988c.f1e648","name":"","func":"if (msg.payload === 0) {\n    return [null, msg];\n}\n\nif (msg.payload !== 0){\nreturn [msg, null];\n    \n}\nreturn [null,null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":580,"wires":[["59f51de0.345014"],["151d9068.65b2f"]]},{"id":"59f51de0.345014","type":"api-call-service","z":"52c7988c.f1e648","name":"Turn Office Lamp Green","server":"","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.office_lamp","data":"{\"brightness_pct\":\"100\",\"color_name\":\"green\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":560,"wires":[[]]},{"id":"151d9068.65b2f","type":"api-call-service","z":"52c7988c.f1e648","name":"Turn Office Lamp Soft White","server":"","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.office_lamp","data":"{\"transition\":\"2\",\"kelvin\":\"3000\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":620,"wires":[[]]},{"id":"134b752c.4f6e9b","type":"debug","z":"52c7988c.f1e648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":680,"wires":[]},{"id":"14738d25.15b903","type":"ha-get-entities","z":"52c7988c.f1e648","server":"","name":"Low battery","rules":[{"property":"attributes.battery_level","logic":"lt","value":"battery_threshold","valueType":"flow"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":410,"y":900,"wires":[["28d8440e.046acc"]]},{"id":"308bb70.1836b4a","type":"join","z":"52c7988c.f1e648","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":".1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":240,"y":1080,"wires":[["cbecdca1.66c67"]]},{"id":"cbecdca1.66c67","type":"template","z":"52c7988c.f1e648","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"message\":\"You have {{flow.number_of_entities_below_threshold}} entities with battery levels below {{flow.battery_threshold}}%: {{payload}}\",\"title\":\"Battery Alert\"}","output":"str","x":410,"y":1080,"wires":[["f11b104.ef83af"]]},{"id":"f11b104.ef83af","type":"debug","z":"52c7988c.f1e648","name":"template","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1080,"wires":[]},{"id":"d222a29b.c3425","type":"change","z":"52c7988c.f1e648","name":"threshold","rules":[{"t":"set","p":"battery_threshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":840,"wires":[["14738d25.15b903"]]},{"id":"d7cc134e.7851","type":"inject","z":"52c7988c.f1e648","name":"Set","repeat":"","crontab":"15 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":290,"y":780,"wires":[["d222a29b.c3425"]]},{"id":"ff0eb13a.c2753","type":"change","z":"52c7988c.f1e648","name":"","rules":[{"t":"move","p":"parts.count","pt":"msg","to":"number_of_entities_below_threshold","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1020,"wires":[["308bb70.1836b4a"]]},{"id":"28d8440e.046acc","type":"template","z":"52c7988c.f1e648","name":"combine","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.entity_id}} ({{payload.attributes.battery_level}}%)","output":"str","x":450,"y":970,"wires":[["ff0eb13a.c2753"]]},{"id":"ec1c1cc0.89f0a","type":"link in","z":"52c7988c.f1e648","name":"","links":["829f9430.fc3088","b73a76c2.703498"],"x":715,"y":820,"wires":[["fee08205.45787"]]},{"id":"41b5a4e4.9cae8c","type":"comment","z":"52c7988c.f1e648","name":"Fade in NPR with Alarm","info":"","x":798.3333282470703,"y":773.3333511352539,"wires":[]},{"id":"d844d3fa.5a26d","type":"switch","z":"52c7988c.f1e648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","outputs":1,"x":990.6666946411133,"y":1073.3332304954529,"wires":[["99146127.9daf4","6b99dd1f.172194"]]},{"id":"1b9b043f.e39a8c","type":"server-state-changed","z":"52c7988c.f1e648","name":"Stereo Volume","server":"","entityidfilter":"sensor.stereo_volume","haltifstate":"","outputs":1,"x":849.6666946411133,"y":1160.3332304954529,"wires":[["350a9df1.760542"]]},{"id":"350a9df1.760542","type":"function","z":"52c7988c.f1e648","name":"> 45?","func":"newmsg = Object();\nif (msg.payload > 0.44) {\n newmsg.payload = \"STOP\";\n} else {\n newmsg.payload = \"Not Yet\";\n}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850.6666946411133,"y":1213.3332304954529,"wires":[["49e87859.3c9e68"]]},{"id":"49e87859.3c9e68","type":"switch","z":"52c7988c.f1e648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"STOP","vt":"str"}],"checkall":"true","outputs":1,"x":990.6666946411133,"y":1213.3332304954529,"wires":[["6b99dd1f.172194"]]},{"id":"7d6b19a8.1c3058","type":"switch","z":"52c7988c.f1e648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"STOP","vt":"str"}],"checkall":"true","outputs":1,"x":1201.6667137145996,"y":1134.6665053367615,"wires":[["99146127.9daf4"]]},{"id":"99146127.9daf4","type":"looptimer","z":"52c7988c.f1e648","duration":"25","units":"Second","maxloops":"15","maxtimeout":"10","maxtimeoutunits":"Minute","name":"Turn Up Volume","x":1387.3333435058594,"y":1072.333212852478,"wires":[["3632c93f.a0b866"],["6b99dd1f.172194"]]},{"id":"6b99dd1f.172194","type":"traffic","z":"52c7988c.f1e648","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stopped","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1210.6667175292969,"y":1212.3332495689392,"wires":[["7d6b19a8.1c3058"]]},{"id":"325e1bca.fc58d4","type":"comment","z":"52c7988c.f1e648","name":"Loop","info":"","x":1615.0000343322754,"y":1081.3332815170288,"wires":[]},{"id":"3632c93f.a0b866","type":"api-current-state","z":"52c7988c.f1e648","name":"Stereo Volume","server":"","outputs":1,"halt_if":"","entity_id":"sensor.stereo_volume","x":1645.5000228881836,"y":1123.3333344459534,"wires":[["1aeb6c59.1a9474"]]},{"id":"1aeb6c59.1a9474","type":"function","z":"52c7988c.f1e648","name":"+5 Volume","func":"newmsg = Object();\n\nold_vol = parseFloat(msg.payload);\nnew_vol = old_vol + 0.05;\n\nnewmsg.payload = { data: { 'entity_id': 'media_player.stereo','volume_level': new_vol } }\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1652.9999809265137,"y":1169.9999680519104,"wires":[["d001ed10.c8e12"]]},{"id":"d001ed10.c8e12","type":"api-call-service","z":"52c7988c.f1e648","name":"Turn Up Volume","server":"","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.stereo\"}","x":1854.1666412353516,"y":1170.333345413208,"wires":[[]]},{"id":"99e3766f.1769d8","type":"api-current-state","z":"52c7988c.f1e648","name":"Receiver On?","server":"","outputs":1,"halt_if":"","entity_id":"switch.dualplug_right","x":836.3333587646484,"y":879.999979019165,"wires":[["ee90183e.999a08"]]},{"id":"ee90183e.999a08","type":"switch","z":"52c7988c.f1e648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":999.3333587646484,"y":879.999979019165,"wires":[["84655780.58a0f8"],["4caef560.20d36c","84655780.58a0f8"]]},{"id":"4caef560.20d36c","type":"api-call-service","z":"52c7988c.f1e648","name":"Turn On Receiver","server":"","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.dualplug_right\"}","x":1415.3333587646484,"y":883.999979019165,"wires":[[]]},{"id":"84655780.58a0f8","type":"delay","z":"52c7988c.f1e648","name":"Let it Turn On - 50s","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":941.8333587646484,"y":934,"wires":[["813154b7.868cc8","6d45ef3c.29bba"]]},{"id":"813154b7.868cc8","type":"api-call-service","z":"52c7988c.f1e648","name":"Set Volume to 0","server":"","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.stereo\",\"volume_level\":\"0.10\"}","x":1405.3333587646484,"y":933.999979019165,"wires":[[]]},{"id":"e42b6f68.f7683","type":"api-call-service","z":"52c7988c.f1e648","name":"Switch Receiver to FM","server":"","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.stereo\",\"source\":\"fm\"}","x":1426.3333587646484,"y":982.999979019165,"wires":[[]]},{"id":"585bee5f.37de9","type":"change","z":"52c7988c.f1e648","name":"Turn On Loop","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":959.5833511352539,"y":1025.8333206176758,"wires":[["d844d3fa.5a26d"]]},{"id":"6d45ef3c.29bba","type":"delay","z":"52c7988c.f1e648","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170.8333587646484,"y":974.9999790191648,"wires":[["e42b6f68.f7683","585bee5f.37de9"]]},{"id":"fee08205.45787","type":"api-current-state","z":"52c7988c.f1e648","name":"Want Music?","server":"","outputs":1,"halt_if":"off","entity_id":"input_boolean.alarmradio","x":823.1666870117188,"y":820.66672706604,"wires":[["99e3766f.1769d8"]]},{"id":"21f780ba.d339d","type":"comment","z":"52c7988c.f1e648","name":"Turn On Receiver & Prep it","info":"","x":1431.6666412353516,"y":829.9999656677246,"wires":[]},{"id":"b0732620.9a2ae8","type":"comment","z":"52c7988c.f1e648","name":"Volume Threshold","info":"","x":856.6666717529297,"y":1118.3332176208496,"wires":[]},{"id":"475c37e2.b52ac8","type":"api-call-service","z":"234b5a67.510c36","name":"set volume","server":"a0e7c24a.61dc6","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.schlafzimmer","data":"{\"volume_level\": {{payload}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":60,"wires":[[]]},{"id":"a35d4c02.f2cd5","type":"poll-state","z":"234b5a67.510c36","name":"Licht Wechsel","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"light.bedroom_lights","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":140,"wires":[["7ee66499.116f1c"]]},{"id":"7ee66499.116f1c","type":"api-current-state","z":"234b5a67.510c36","name":"get wecker","server":"a0e7c24a.61dc6","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.wecker_aktiv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":120,"wires":[["6d12f89a.b8f2e8"],[]]},{"id":"eaa58f5b.e8072","type":"server-state-changed","z":"234b5a67.510c36","name":"music playing","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.wohnung","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":380,"wires":[["6537bcdb.c41944"],[]]},{"id":"bf03beff.0f363","type":"comment","z":"234b5a67.510c36","name":"Wohnung","info":"","x":100,"y":240,"wires":[]},{"id":"36ee56e0.44ab4a","type":"api-current-state","z":"234b5a67.510c36","name":"get livingroom","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.baynesian_wohnzimmer","state_type":"str","state_location":"room","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":380,"wires":[["8d91e21d.f6fc1"]]},{"id":"6537bcdb.c41944","type":"api-current-state","z":"234b5a67.510c36","name":"get volume","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.volume","state_type":"str","state_location":"volume","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":380,"wires":[["36ee56e0.44ab4a","65e0d264.65f24c","84f8aea7.59381","7b8905d3.1d6d1c","2c3d7a44.6c3406"]]},{"id":"8d91e21d.f6fc1","type":"function","z":"234b5a67.510c36","name":"convert volume","func":"newmsg = Object();\nfloat = Math.round(msg.volume);\nfloat = float / 100;\n\nnewmsg.payload = {\n    \"domain\": \"media_player\",\n    \"service\": \"volume_set\",\n    \"data\": {\n        \"entity_id\": '',\n        \"volume_level\": float\n        } \n    }\nif (msg.data.entity_id == \"binary_sensor.baynesian_wohnzimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.lenovosmartdisplay80269\"\n    if (msg.data.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.data.entity_id == \"binary_sensor.baynesian_arbeitszimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.chromecastaudio4823\"\n    if (msg.data.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.data.entity_id == \"binary_sensor.baynesian_flur\") {\n    newmsg.payload.data.entity_id = \"media_player.flur\"\n    if (msg.data.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.data.entity_id == \"binary_sensor.baynesian_badezimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.bad\"\n    if (msg.data.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.data.entity_id == \"binary_sensor.baynesian_schlafzimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.schlafzimmer\"\n    if (msg.data.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["7d2d81b4.b4a5a"]]},{"id":"7d2d81b4.b4a5a","type":"api-call-service","z":"234b5a67.510c36","name":"set volumes","server":"a0e7c24a.61dc6","version":1,"debugenabled":true,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":460,"wires":[[]]},{"id":"84f8aea7.59381","type":"api-current-state","z":"234b5a67.510c36","name":"get bath","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.baynesian_badezimmer","state_type":"str","state_location":"room","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":320,"wires":[["8d91e21d.f6fc1"]]},{"id":"65e0d264.65f24c","type":"api-current-state","z":"234b5a67.510c36","name":"get bedroom","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.baynesian_schlafzimmer","state_type":"str","state_location":"room","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":440,"wires":[["8d91e21d.f6fc1"]]},{"id":"7b8905d3.1d6d1c","type":"api-current-state","z":"234b5a67.510c36","name":"get hall","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.baynesian_flur","state_type":"str","state_location":"room","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":500,"wires":[["8d91e21d.f6fc1"]]},{"id":"2c3d7a44.6c3406","type":"api-current-state","z":"234b5a67.510c36","name":"get office","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.baynesian_arbeitszimmer","state_type":"str","state_location":"room","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":260,"wires":[["8d91e21d.f6fc1"]]},{"id":"80dc4171.d9895","type":"server-state-changed","z":"234b5a67.510c36","name":"Livingroom Change","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.baynesian_wohnzimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":440,"wires":[["8c9c6158.cb2a4"]]},{"id":"cee7f3f2.20581","type":"function","z":"234b5a67.510c36","name":"convert device","func":"newmsg = Object();\n\nnewmsg.device = {\n    \"room\": msg.data.entity_id,\n    \"state\": msg.payload\n}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":560,"wires":[["98425e48.c616"]]},{"id":"98425e48.c616","type":"api-current-state","z":"234b5a67.510c36","name":"get volume","server":"a0e7c24a.61dc6","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.volume","state_type":"str","state_location":"volume","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":560,"wires":[["f4cdcd80.95878"]]},{"id":"f4cdcd80.95878","type":"function","z":"234b5a67.510c36","name":"convert volume","func":"newmsg = Object();\nfloat = Math.round(msg.volume);\nfloat = float / 100;\n\nnewmsg.payload = {\n    \"domain\": \"media_player\",\n    \"service\": \"volume_set\",\n    \"data\": {\n        \"entity_id\": '',\n        \"volume_level\": float\n        } \n    }\nif (msg.device.room == \"binary_sensor.baynesian_wohnzimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.lenovosmartdisplay80269\"\n    if (msg.device.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.device.room == \"binary_sensor.baynesian_arbeitszimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.chromecastaudio4823\"\n    if (msg.device.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.device.room == \"binary_sensor.baynesian_flur\") {\n    newmsg.payload.data.entity_id = \"media_player.flur\"\n    if (msg.device.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.device.room == \"binary_sensor.baynesian_badezimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.bad\"\n    if (msg.device.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nif (msg.device.room == \"binary_sensor.baynesian_schlafzimmer\") {\n    newmsg.payload.data.entity_id = \"media_player.schlafzimmer\"\n    if (msg.device.state == \"off\"){\n        newmsg.payload.data.volume_level = 0   \n    }\n}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":560,"wires":[["7d2d81b4.b4a5a"]]},{"id":"136821b1.fca47e","type":"server-state-changed","z":"234b5a67.510c36","name":"hall Change","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.baynesian_flur","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":560,"wires":[["8c9c6158.cb2a4"]]},{"id":"b9e2c73d.46e8a8","type":"server-state-changed","z":"234b5a67.510c36","name":"Bedroom Change","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.baynesian_schlafzimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":120,"y":680,"wires":[["8c9c6158.cb2a4"]]},{"id":"3b917122.fbf40e","type":"server-state-changed","z":"234b5a67.510c36","name":"Bath Change","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.baynesian_badezimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":620,"wires":[["8c9c6158.cb2a4"]]},{"id":"bdaa747f.f55c28","type":"server-state-changed","z":"234b5a67.510c36","name":"Office Change","server":"a0e7c24a.61dc6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.baynesian_arbeitszimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":500,"wires":[["8c9c6158.cb2a4"]]},{"id":"8c9c6158.cb2a4","type":"api-current-state","z":"234b5a67.510c36","name":"music?","server":"a0e7c24a.61dc6","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.wohnung","state_type":"str","state_location":"playing","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":560,"wires":[["cee7f3f2.20581"],[]]}]